section.about
	.center-div.about-wrapper
		h2 Hello! I am...
		h3.
			A fourth year student at UC Berkeley<br />
			studying cognitive and computer science.
		h3.
			Passionate about <span class="bg-highlight">serving underrepresented communities</span><br />
			through the power of web development and design.
		h3.
			Interested in <span class="bg-highlight">disseminating computer science education</span><br />
			to high school students of color.

