section.contact  
  .center-div
    h3 CONTACT ME

    .flex-row
      form(action="https://formspree.io/melvinfhernandez94@gmail.com" method="POST")
        .in-group
          label Name
          input(type="text" name="name")
        .in-group
          label Reason
          select(name="_subject" value="reason")
            option(value="" disabled selected) Choose . . .
            option(value="Non-Profit Work") Non-profit Work
            option(value="High School Mentor") High School Mentor
            option(value="Freelance") Freelance
            option(value="Other") Other
        .in-group
          label Email
          input(type="email" name="_replyto")
        .in-group
          label Tell me more...
          textarea(rows="6" name="information")
        //- Hidden meta fields
        input(type="hidden" name="_next" value="http://google.com")
        input(type="text" name="_gotcha" style="display:none")
        input(type="submit" value="Send" id="contact-btn")