section.intro
  .flex
    header.col-full
        h1
          span.thin Melvin
          span.thick Hernandez

    .col-full.subheader
      h3.left Aspiring 
        span.highlight full-stack developer
      h3.right 
        span.highlight &amp; UI/UX designer
        span in California