nav.home-nav
	.center-div.flex-row
		a.logo(href="#index")
		ul
			a(href="#about")
				li ABOUT ME
			a(href="#work") 
				li WORK
			a(href="#contact") 
				li CONTACT
			a(href="#language") 
				li LANGUAGE &amp; THOUGHT
			a(href="/life-enhancer/") 
				li MUSIC &amp; VIBES

