<section class="about">
	<div class="center-div about-wrapper">
		<h2>Hello! I am...</h2>
		<h3>A fourth-year, <span class="bg-highlight">studying cognitive science</span><br />
		and computer science, at UC Berkeley.</h3>
		<h3>Passionate about <span class="bg-highlight">serving underrepresented communities</span><br />
through the power of web development and design.</h3><h3>Interested in <span class="bg-highlight">disseminating computer science</span><br />
to high school students of color.</h3></div></section>