<section class="about">
	<div class="center-div about-wrapper">
		<h2><i class="fa fa-quote-left" aria-hidden="true"></i>
This ain't no intro, this the entree <i class="fa fa-quote-right" aria-hidden="true"></i></h2>
		<p>I am . . . </p>
		<p>. . . a fourth-year student, <span class="bg-highlight">majoring in cognitive science</span><br />
		and minoring in computer science, at UC Berkeley.</p>
		<p>. . . passionate about <span class="bg-highlight">serving underrepresented communities</span><br />
through my passion for web development and design.</p>
		<p>. . . interested in <span class="bg-highlight">disseminating computer science</span><br />
to high school students of color.</p>
	</div>
</section>
