<section class="contact">
  <h3>Get in Contact. Let's Work Together!</h3>
  <form class="contact-form" action="https://formspree.io/melvinfhernandez94@gmail.com" method="POST">
    <div class="in-group">
      <label>Name</label>
      <input type="text" name="name"/>
    </div>
    <div class="in-group">
      <label>Email</label>
      <input type="email" name="_replyto"/>
    </div>
    <div class="in-group">
      <label>Tell me more...</label>
      <textarea rows="6" name="information"></textarea>
    </div>
    <input type="hidden" name="_next" value="http://melvin.tech/"/>
    <input type="text" name="_gotcha" style="display:none"/>
    <input type="submit" value="Send" id="contact-btn"/>
  </form>
</section>
