<nav class="home-nav">
	<div class="nav-content">
		<a class="logo" href="/#intro">
			<img src="/assets/img/m-dot-tech.png">
		</a>
		<ul class="nav-links">
			<a class="flex-left" href="#about"><li>ABOUT ME</li></a>
			<a class="flex-left" href="#work"><li>WORK</li></a>
			<a class="flex-left" href="#contact"><li>CONTACT</li></a>
			<a class="flex-left only-mobile" href="https://medium.com/@MelvinDotTech"><li>melvin.thought</li></a>
			<a class="flex-left only-mobile" href="https://open.spotify.com/user/mel__erk"><li>melvin.music</li></a>
			<div class="flex-right">
				<a class="flex-block" href="https://medium.com/@MelvinDotTech"><li>melvin.thought</li></a>
				<a class="flex-block" href="https://open.spotify.com/user/mel__erk"><li>melvin.music</li></a>
			</div>
		</ul>
		<div class="mob-nav-btn">
			<span class="hamburger"></span>
			<span class="hamburger"></span>
			<span class="hamburger"></span>
		</div>
	</div>
</nav>
