<section class="work" id="work">
	<div class="center-div">
		<div class="heading">
			<h3>FEATURED WORK</h3>
		</div>
		<div class="flex-row">
			{% for item in site.data.work %}
			<div class="card">
				<div class="card-image">
					<img src="{{item.image}}" alt="">
				</div>
				<div class="card-content">
					<a class="card-title" href="{{item.url}}">{{item.title}}</a>
					<p class="work-tag">{{item.type}}</p>
					<p class="card-subtitle">{{item.subtitle}}</p>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
